.section {
  padding: 80px 0;
  position: relative;
  // @include media-down(small-tablet) {
  //   padding: 60px 0;
  // }
  &.smallSpacing {
    padding: 40px 0;
  }
  &.largeSpacing {
    padding: 120px 0;
  }
}

.sectionBg {
  position: absolute!important;
  top: 0;
  left: 0;
  object-fit: cover!important;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}
