// fonts
// $purple: rgb(127, 80, 230);
// $indigo: rgb(38, 44, 94);
// $white: rgb(250, 250, 250);
// $blue: rgb(79, 215, 243);
@font-face {
  font-family: 'Avenir';
  src:  url('./fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
}
body {
  margin: 0;
}
